numpy
#scipy
#matplotlib
cython
fabio
pyFAI
PyYAML
# Those are optional build dependencies. It's better to create a separate
# `requirements-dev.txt` file and install the sphinx dependencies from it prior
# to the installation.
# sphinx
# sphinxcontrib-programoutput
